/*Modal Styles*/

.ts-modal .ant-modal-content {
    padding: 0;
}

.ts-modal .ant-modal-header {
    padding: 16px 24px;
    background: linear-gradient(90deg, #7547D7 18.75%, #A146DB 92.5%);
    border-bottom: none;
    margin-bottom: 0;
}

.ts-modal .ant-modal-title {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}

.ts-modal .ant-modal-close {
    color: #ffffff;
}

.ts-modal .ant-modal-close:hover {
    color: #ffffff;
    opacity: 0.8;
}

.ts-modal .ant-modal-body {
    padding: 0px;
}