/* Media Styles */
.ts-media__button {
    background-color: transparent;
    color: #703FD6;
    text-decoration: underline;
    box-shadow: none;
    border: none;
    height: 0rem;
    min-height: 0rem !important;
}
