/* --- Hover Animations --- */

/* Animation List

URL: https://animista.net/play/attention/wobble

- 3D Float (Done)
- Basic Tilt (Done)
- Slide Top (Done)
- Shadow Pop (Done)
- Shadow Drop (Done)
- Flipbox
- Shadow Inset
- Tilt
- Blur
- Pop Up
- Wobble
- Pulse
- Bounce
- Color Change
*/

/* App.css */
.blur-animation {
	transition: filter 0.3s ease-in-out;
	}

	.blur-animation:hover {
	filter: blur(5px);
	}

	/* 3D Float */

	.tsh-3d-float__wrapper {
	transition: all 0.5s;
	z-index: -1;
	}

	.tsh-3d-float:hover .tsh-3d-float__wrapper {
	transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
	box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
	}

	/* Tilt Animation */

	.tsh-tilt {
	perspective: 1000px;
	}

	.tsh-tilt__wrapper {
	transition: all 0.5s;
	z-index: -1;
	}

	.tsh-tilt:hover .tsh-tilt__wrapper {
	transform: perspective(1000px) rotateX(10deg) rotateY(10deg) translateZ(0);
	box-shadow: 2px 20px 20px -8px rgba(0, 0, 0, 0.5);
	}


	/* Slide Top Animation */

	.tsh-slide-top {
	transition: transform 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
	}

	.tsh-slide-top:hover {
	transform: translateY(-100px);
	}

	/* Shadow Pop Animation */

	.tsh-shadow-pop-tr {
	transition: box-shadow 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715), transform 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715);
	}

	.tsh-shadow-pop-tr:hover {
	box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
	transform: translateX(-8px) translateY(8px);
	}


	/* Shadow Drop Animation */

	.tsh-shadow-drop-center {
	transition: box-shadow 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
	}

	.tsh-shadow-drop-center:hover {
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
	}


	.tsh-shadow-drop-2-tr {
	transition: transform 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940),
				box-shadow 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
	}

	.tsh-shadow-drop-2-tr:hover {
	transform: translateZ(50px) translateX(-12px) translateY(12px);
	box-shadow: 12px -12px 20px -12px rgba(0, 0, 0, 0.35);
	}



	/* 3D Flipbox */
	.flipbox {
		perspective: 1000px;
	}

	.flipbox-inner {
		position: relative;
		width: 100%;
		height: 100%;
		text-align: center;
		transition: transform 0.6s;
		transform-style: preserve-3d;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	}

	.flipbox:hover .flipbox-inner {
		transform: rotateY(180deg);
	}

	.flipbox-front, .flipbox-back {
		position: absolute;
		width: 100%;
		height: 100%;
		-webkit-backface-visibility: hidden; /* Safari */
		backface-visibility: hidden;
	}

	.flipbox-front {
		background-color: #fff;
		color: black;
	}

	.flipbox-back {
		background-color: #f1f1f1;
		color: black;
		transform: rotateY(180deg);
	}

	/* ----------------------------------------------
	* Generated by Animista on 2024-7-15 12:40:57
	* Licensed under FreeBSD License.
	* See http://animista.net/license for more info.
	* w: http://animista.net, t: @cssanimista
	* ---------------------------------------------- */

	/**
	* ----------------------------------------
	* animation flip-scale-up-hor
	* ----------------------------------------
	*/

	.flip-scale-up-hor:hover {
		-webkit-animation: flip-scale-up-hor 0.5s linear both;
				animation: flip-scale-up-hor 0.5s linear both;
	}

	@-webkit-keyframes flip-scale-up-hor {
	0% {
		-webkit-transform: scale(1) rotateX(0);
				transform: scale(1) rotateX(0);
	}
	50% {
		-webkit-transform: scale(2.5) rotateX(-90deg);
				transform: scale(2.5) rotateX(-90deg);
	}
	100% {
		-webkit-transform: scale(1) rotateX(-180deg);
				transform: scale(1) rotateX(-180deg);
	}
	}
	@keyframes flip-scale-up-hor {
	0% {
		-webkit-transform: scale(1) rotateX(0);
				transform: scale(1) rotateX(0);
	}
	50% {
		-webkit-transform: scale(2.5) rotateX(-90deg);
				transform: scale(2.5) rotateX(-90deg);
	}
	100% {
		-webkit-transform: scale(1) rotateX(-180deg);
				transform: scale(1) rotateX(-180deg);
	}
	}


	/* ----------------------------------------------
	* Generated by Animista on 2024-7-15 12:50:29
	* Licensed under FreeBSD License.
	* See http://animista.net/license for more info.
	* w: http://animista.net, t: @cssanimista
	* ---------------------------------------------- */

	/**
	* ----------------------------------------
	* animation text-pop-up-top
	* ----------------------------------------
	*/

	.text-pop-up-top:hover {
		-webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
				animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	}

	@-webkit-keyframes text-pop-up-top {
	0% {
		-webkit-transform: translateY(0);
				transform: translateY(0);
		-webkit-transform-origin: 50% 50%;
				transform-origin: 50% 50%;
		text-shadow: none;
	}
	100% {
		-webkit-transform: translateY(-50px);
				transform: translateY(-50px);
		-webkit-transform-origin: 50% 50%;
				transform-origin: 50% 50%;
		text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
	}
	}
	@keyframes text-pop-up-top {
	0% {
		-webkit-transform: translateY(0);
				transform: translateY(0);
		-webkit-transform-origin: 50% 50%;
				transform-origin: 50% 50%;
		text-shadow: none;
	}
	100% {
		-webkit-transform: translateY(-50px);
				transform: translateY(-50px);
		-webkit-transform-origin: 50% 50%;
				transform-origin: 50% 50%;
		text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
	}
	}