:root {
    --tshorizontal-borderColor: #e5e7eb; /* Default border color */
    --tshorizontal-borderColor-hover: #7547D7; /* Default hover border color */
}

.tshorizontal-card-wrapper {
    border: 1px solid var(--tshorizontal-borderColor, #e5e7eb) !important;
    background-color: white !important;
    box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.05) !important;
    transition: all 0.3s ease-in-out !important;
}

.tshorizontal-card-wrapper:hover {
    border-color: var(--tshorizontal-borderColor-hover, #7547D7) !important;
    transform: translateY(-4px) !important;
    box-shadow: 0 15px 35px -10px rgba(117, 71, 215, 0.4) !important;
}