@font-face {
    font-family: 'Ubuntu';
    src: url('../library/fonts/ubuntu.woff2') format('woff2'),
         url('../library/fonts/ubuntu.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
	font-family: "Ubuntu", sans-serif;
}

#wpcontent {
	padding-left: 0 !important;
}

#wpfooter {
	display: none !important;
}

.wpspeedo--notice {
	display: none !important;
}

.tsteam__color--bg {
	background-color: #18208D;
}


.tsteam__color--text {
	color: #18208D;
}

.tsteam__color--text:hover {
	background-color: #4C5ABD;
	@apply text-white rounded-lg flex gap-2 transition duration-500 ease-in-out;
}

.tsteam__color--text:active {
	background-color: #18208D;
}

.tsteam__color--icon {
	color: #18208D;
}

.tsteam__color--icon:hover {
	color: #4C5ABD;
	@apply transition duration-500 ease-in-out;
}

.ts-modal {
	margin-top: 3rem;
	margin-bottom: 3rem;
}



.add-team-button{
	@apply bg-black text-white p-4
}

.tsteam-button {
	background-color: #fff;
	color: #18208D;
	border-color: #18208D;
	height: 2.8rem;
	min-height: 2.8rem;
}

.tsteam-button:hover {
	background-color: #18208D;
	color: #fff;
	@apply transition duration-500 ease-in-out;
}