:root {
    --tscard-color-separator: blue;
}

.tscard__separator {
    height: 0.25rem;
    width: 4rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    background-color: var(--tscard-color-separator, blue);
    border: none;
}