#wpbody-content {
	padding-bottom: 0px !important;
	overflow: auto;
}

.editor-container {
	@apply flex justify-center items-center;
}

.editor-hover {
	@apply p-2 border border-transparent hover:border-blue-500 transition duration-300 max-w-full;
}

.tsteam__editor_bg {
	@apply bg-gray-100;
}

.tsteam-container {
	@apply grid w-full h-full;
}

.viewport-desktop {
	@apply flex justify-center items-center;
	width: 100% !important;
	min-width: 1200px !important;
}

.viewport-tablet {
	@apply m-4 flex justify-center items-center;
	width: 100% !important;
	max-width: 768px !important;
	background: #fff;
	height: 100vh;
	overflow-y: auto;
}

.viewport-mobile {
	@apply m-4 flex justify-center items-center;
	width: 100% !important;
	max-width: 380px !important;
	background: #fff;
	height: 100vh;
	overflow-y: auto;
}